absl-py==1.0.0
altgraph==0.17.2
APScheduler==3.6.3
asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cycler==0.11.0
Django==3.2.12
docutils==0.18.1
Flask==2.0.3
fonttools==4.31.1
future==0.18.2
gnumpy==0.2
idna==3.3
iniconfig==1.1.1
itsdangerous==2.1.1
Jinja2==3.0.3
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.4
kiwisolver==1.4.0
livy==0.8.0
llvmlite==0.38.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mediapipe==0.8.9.1
numba==0.55.1
numpy==1.21.5
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.1
pefile==2021.9.3
Pillow==9.0.1
pluggy==1.0.0
protobuf==3.19.4
py==1.11.0
pygame==2.1.2
pygame-gui==0.6.4
pygame-textinput==1.0.1
Pygments==2.11.2
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pynput==1.7.6
pyparsing==3.0.7
pypiwin32==223
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PySocks==1.7.1
pytest==7.1.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-i18n==0.3.9
python-telegram-bot==13.11
pytput==0.4.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==303
pywin32-ctypes==0.2.0
requests==2.27.1
schedule==1.1.0
set-math==0.0
six==1.16.0
sqlparse==0.4.2
telebot==0.0.4
tomli==2.0.1
tornado==6.1
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.9
Werkzeug==2.0.3